<div class='large-12'>
  <div class='large-6 column'>
    <h2><%= params[:controller].titleize %></h2>
  </div>
  <hr>
</div>

<div class='large-12'>
  <div class='medium-8 large-7 small-centered columns'>
    <div class='medium-4'>
      <div class=''>
        <%= image_tag(@product.image.url, class: 'avatar-round-square') %>

      </div>
      </div>
      <div class='medium-4'>
        <%= @shipping_order %>
      </div>
    </div>

    <br>
    <div class='warning progress radius'>
      <div class='progress-meter' style="width: 50%"></div>
      <%= tag(:span, class: '', style: 'width: ') %>
    </div>

  </div>
</div>
