<div class='row column'>
  <h1><%= params[:controller].titleize %></h1>
  <hr>
</div>

<% @orders.each do |order| %>
  <table>
    <tr>
      <th>Tracking Number</th>
      <th>Product</th>
    </tr>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.order_items.product %></td>
    </tr>
  </table>
<% end %>
