<div class='row column'>
  <h1><%= params[:controller].titleize %></h1>
  <hr>
</div>

<% @order_items.each do |order_item| %>
  <table>
    <tr>
      <th>Tracking Number</th>
      <th>Product</th>
    </tr>
    <tr>
      <td><%= order_item.id %></td>
      <td><%= order_item.product.name %></td>
    </tr>
  </table>
<% end %>
