// Custom layout styles

// Default font family
@font-face {
  font-family: 'gotham-rounded';
  src: url(gotham-rounded-medium.otf);
}

 // Checkout-button
.button.hollow.checkout {
   margin-top: 30px;
   &:hover {
     background-color: #3adb76;
     color: white;
     border-color: white
   }
}

// Cart-row
.cart-row {
  margin: 10px;
}

.radius-box {
  border-radius: 10px;
}

.cart-image {
  padding-left: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.top-aligned {
  padding-top: 15px;
}

// Transactions
.pay-button {
  margin-top: 25px;
}
