// Custom layout styles

// Default font family
@font-face {
  font-family: 'gotham-rounded';
  src: url(gotham-rounded-medium.otf);
}

//
.google_oauth2_button {
  background-color: red
}

// Rounded Avatar
.avatar {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.avatar-round-square {
  border-radius: 6px;
}

// Navbar Dropmenu
.dropmenu {
  padding-right: 15px;
}

// Checkout-button
.button.hollow.checkout {
   margin-top: 30px;
   border: 2px solid #3adb76;
   &:hover {
     background-color: #3adb76;
     color: white;
     border-color: white
   }
}

// Cart-row
.cart-row {
  display: flex;
  margin-bottom: 1.5em;
}

.radius-box {
  border-radius: 10px;
}

.radius-left {
  padding: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.radius-right {
  padding: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid lightgrey;
}

.top-aligned {
  padding-top: 15px;
  border: 1px solid lightgrey;
}

// Transactions
.pay-button {
  margin-top: 25px;
}

// Forms
.form-field {
  border: none;
  box-shadow: none;
}

.form-field-border {
  border-bottom: solid 1px #DEE2E5;
}


