<p>Please enter your personal info:</p>
<div class='form-field-border'>
  <%= text_field_tag :first_name, '',placeholder: "First Name", class: 'form-field radius' %>
</div>
<div class='form-field-border'>
  <%= text_field_tag :last_name, '',placeholder: "Last Name", class: 'form-field radius' %>
</div>
<div class='form-field-border'>
  <%= text_field_tag :phone, '',placeholder: "Phone", class: 'form-field radius' %>
</div>
