<div class='large-12'>
  <div class='large-6 column'>
    <h2><%= params[:controller].titleize %></h2>
  </div>
  <hr>
</div>

<div class='large-12'>
  <div class='medium-8 large-7 small-centered columns'>

    <br>

    <div class=''>
      <ul class='tabs' data-tabs id='inventory-tabs'>
        <li class='tabs-title is-active'><a href='#inventory-panel' aria-selected-'true'>Inventory</a></li>
      </ul>

      <div class='tabs-content' data-tabs-content='profile-tabs'>
        <div class='tabs-panel is-active' id='inventory-panel'>
          <table class='stack hover'>
            <thead>
              <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Other</th>
                <th></th>
              </tr>
            </thead>
            <% @products.each do |product| %>
            <tbody>
              <tr>
                <td><%= product.id %></td>
                <td><%= product.sku %></td>
                <td><%= product.quantity %></td>
              </tr>
            </tbody>
          <% end %>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
