<div class='large-2 columns' data-sticky-container>
  <div class='sticky' data-sticky data-margin-top="0">
    <ul class='vertical menu' data-accordion-menu>
      <% @categories.each do |category| %>
        <li class=''>
        <%= link_to category.name, products_path(category: category.id) %>
        <ul class='menu vertical nested'>
          <% category.subcategories.each do |subcategory| %>
            <li><%= link_to subcategory.name, products_path(category: subcategory.id) %></li>
          <% end %>
        </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
