<%# <% if flash.any? %>

<% flash.each do |name, msg| %>
  <%# <% if msg.is_a?(String) %>
    <div class="flash-msg callout round <%= name.to_s == 'notice' ? 'success' : 'alert' %>" data-closable>
      <%= content_tag :div, msg %>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <%# <% end %>
  <%# <% end %>
<% end %>
