<div class='row'>
  <nav class='top-bar column'>

  <ul class='no-bullet'>
    <li class=''>
    <i class='fi-shopping-cart'></i> <%=  %>
    </li>
  </ul>

  <div class='top-bar-right'>
  <ul class='menu vertical'>
    <li></li>
    <li></li>
  </ul>
  </div>

  </nav>
</div>
